body
{
  background-color: #DEE2E5;
  background-image: linear-gradient(transparent 99px, white 99px), linear-gradient(90deg, transparent 99px, white 99px), linear-gradient(transparent 19px, rgba(255, 255, 255, 0.3) 19px), linear-gradient(90deg, transparent 19px, rgba(255, 255, 255, 0.3) 19px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  margin: 0;
}

.clearfix
{
  zoom: 1;
}

.clearfix:after {
  content:' ';
  clear:both;
  display:block;
  width:0;
  height:0;
  overflow:hidden;
  font-size:0
}

.center-area-block-style
{
  /* margin-top: 3%;*/
  margin-bottom: 3%;
}

.sidebar-elements-style
{
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: left;
  cursor: pointer;
}

.sidebar-elements-style:hover
{
  background: #E9E9E9;
}

#fixed-header
{
  width: 100%;
  height: 10%;
  margin: 0;
  position: fixed;
  z-index: 100;
  background: rgb(36, 40, 43);
  border: 1px solid red;
}

#body-area
{
  bottom: 0;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 0;
  border: 1px solid green;
}

#center-area
{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex: 1;
}

#left-area
{
  display: inline-block;
  float: left;
  max-width: 20%;
  width: 100%;
  background: #EEE;
}

#sidebar
{
  /*border: 1px solid blue;*/

}

#right-area
{
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 100%;
  max-width: 80%;
}

#content
{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: #FFFFFF;
}

#float-footer
{
  clear: both;
  bottom: 0;
  width: 100%;
  height: 10%;
  margin-top: 3%;
  z-index: 0;
  background: rgb(36, 40, 43);
  border: 1px solid red;
}